* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 5%;
    background-color: rgb(230, 218, 202);
    box-sizing: border-box;
}

.container {
    width: 60%;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
    font-family: Arial, Helvetica, serif;
}

.banner-image {
    width: 100%;
    display: block;

}

.banner-image img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    padding: 20px 0px;
    color: rgb(60, 53, 60);
       
}

p {
    margin-bottom: 20px;
    color: rgb(60, 53, 60);
}

.prep-time {
    background-color: rgb(247, 242, 236);
    border-radius: 15px;
    padding: 20px;
}

.prep-time h3 {
    color: rgb(123, 78, 128);
    padding-bottom: 0px;
}

.prep-time ul {
    padding: 0px 20px;
   
}

.prep-time ul li{
    padding-left: 18px;
    margin: 15px 0px;
    color: rgb(60, 53, 60);
}

.ingredients {
    margin-top: 20px;
    border-bottom: solid 1px rgb(120, 105, 105);
}

.ingredients h2 {
    color: rgb(135, 101, 76);
}

.ingredients ul {
    padding: 0px 20px;
    padding-bottom: 15px;
}

.ingredients ul li {
    padding-left: 18px;
    margin: 10px 0px;
    color: rgb(60, 53, 60);
}

.instructions {
    margin-top: 20px;
    border-bottom: solid 1px rgb(120, 105, 105);
}

.instructions h2 {
    margin-bottom: 15px;
    color: rgb(135, 101, 76);
}

.instructions ol {
    padding: 0px 20px;
    padding-bottom: 15px;
    color: rgb(60, 53, 60);
}

.instructions ol li {
    padding-left: 18px;
    margin: 10px 0px;
    color: rgb(86, 73, 86);
}


.nutrition {
    margin-top: 20px;
    border-bottom: solid 1px rgb(120, 105, 105);
}

.nutrition h2 {
    margin-bottom: 15px;
    color: rgb(135, 101, 76);
}

.nutrition p {
    margin-bottom: 15px;
    color: rgb(60, 53, 60);
}

.nutrition ol {
    padding: 0px 20px;
    padding-bottom: 15px;
    color: rgb(60, 53, 60);
}

.nutrition ol li {
    padding-left: 18px;
    margin: 10px 0px;
    color: rgb(86, 73, 86);
}